@import "~bootstrap/scss/bootstrap.scss";

// Variables
$ms-christi: #69a10e;
$ms-tundora: #434243;
$ms-silver: #bcbcbc;
$ms-black: #030303;
$ms-white: #ffffff;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Commons
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

// Utilities

.ms-times {
    font-family: 'Times New Roman', Times, serif;
}
